button {
    &-follow {
        display: inline-block;
    }
}
.button {
    &-follow {
        &_description {
            float: right;
            
            padding: 0 0 0 10px;
        }
    }
}